@media (max-width: 700px) {
  .bigcolors  {font-size: 1.0em;}
}

.colors {
  letter-spacing: .07em;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: rgba(0,0,255,.65);
  text-shadow: -0.05em 0em rgba(255,0,0,.75),
  0.05em 0em rgba(37,217,101,.75);

}
.bigcolors {
  letter-spacing: .07em;
  font-size: 14vw;
  font-weight: 500;
  line-height: 1.0;
  color: rgba(0,0,255,.65);
  text-shadow: -0.5vw 0vw rgba(255,0,0,.75),
  .5vw 0vw rgba(37,217,101,.75);

}
@media (min-width : 550px)  {
  .colors {font-size: 3.0rem;}

}


.content    {
  min-height:100vh;
  padding: 20px;
}

.spin {
  position: absolute;

  left: 50%;
  width: 120px;
  height: 60px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rsvp {position: fixed;
  margin: 0;
  bottom: 14px;
  left: 0px;}

  .navo {transform: rotate(-15deg);

  }
